<!DOCTYPE html>
<html>

<style type="text/css">
body{margin-top: 5%;}
div#{overflow:auto;}
</style>
</head>
<body>
	<div id= "club">
        <% Club.all.each do |club| %> 
        <li> <%= link_to @club.name, @club%></li>
        <% end %>
    </div>
</body>
</html><%= link_to @post.user.name, @user%>