<!DOCTYPE html>
<html>

<style type="text/css">
body{margin-top: 5%;}

</style>
</head>
<body>
<% provide(:title, 'All Clubs') %>
<h1>All clubs</h1>
<ul class="clubs">

	<%= will_paginate @club%>
  <% Club.all.each do |club| %> 
  
      <li> <%= link_to @club.name, @club%></li>
  <% end %>
</ul>
<%= will_paginate @club%>
</body>
</html>