<!DOCTYPE html>
<html>

<style type="text/css">
body{margin-top: 5%;}

</style>
</head>
<body>
<% provide(:title, @club.name) %>
      <%= @club.name %>

             <% if user_signed_in? %>
                <div id="follow_club <%=@club.id%> ">
                <%= render :partial => "follow_club", :locals => {:club => @club} %>
            </div>
          <% end %>
          </body>
</html>