 <!DOCTYPE html>
<html>

<style type="text/css">
div#user_info {background-color:#FFFFFF;height:150px; float: left;}
</style>
</head>
<body>
 
  <div class="row">
    <aside class="col-md-4">
     <div id="user_info">
         <h1>
           
           
              <%= link_to "Settings",edit_user_registration_path, class: "button" %>
              


              <div>
             <% if user_signed_in? %>
                <div id="follow_user<%=@user.id%>">
                <%= render :partial => "follow_user", :locals => {:user => @user} %>
            </div>
          <% end %>
           
              
              

          </h1>
          
  </div>
</aside>
<aside class="col-md-8">
  <!--显示当前用户的帖子-->
</aside>
</div>
</body>
</html>
