@import "bootstrap-sprockets";
  
@import "bootstrap";.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 2;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
      line-height: 1;
    }

    h1 {
      font-size: 3em;
      letter-spacing: -2px;
      margin-bottom: 30px;
      text-align: center;
    }

    h2 {
      font-size: 1.7em;
      letter-spacing: -1px;
      margin-bottom: 30px;
      margin-right: 800px;
      text-align: center;
      font-weight: normal;
      color: #777;
    }

    h3 {
      font-size: 0.8em;
      letter-spacing: -1px;
      margin-bottom: 30px;
      margin-right: 800px;
      text-align: center;
      font-weight: normal;
      color: #777;
    }
    h4 {
      font-size: 2em;
      letter-spacing: -1px;
      margin-bottom: 30px;
      text-align: left;
      font-weight: normal;
      color: #777;
    }
    h5 {
      font-size: 2em;
      letter-spacing: -1px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: normal;
      color: #777;
    }
    p {
      font-size: 1.1em;
      line-height: 1.7em;
    }
    .round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

#posts {

margin-top:5%;
  .post {
    background: #F8F9FA;
    width: 30%;
    float: left;
    margin: 1rem 1.5%;
    border: 1px solid #E4E4E4;
    border-radius: 0.3rem;
    .post_image {
      height: 200px;
      overflow: hidden;
      img {
        width: 100%;
        border-radius: .3rem .3rem 0 0;
      }
    }
    .post_content {
      h2 {
        margin: 0;
        font-weight: 100;
        padding: 1rem 5%;
        border-bottom: 1px solid #E4E4E4;
        font-size: 1.25rem;
        a {
          text-decoration: none;
          color: #333233;
          &:hover {
            color: #50A7C7;
          }
        }
      }
      .data {
        padding: .75rem 5%;
        color: #969696;
        .username, .buttons {
          margin: 0;
          font-size: .8rem;
        }
        .username {
          float: left;
        }
        .buttons {
          float: right;
          span {
            margin-left: .5rem;
          }
        }
      }
    }
  }
}

